{{ define "head" }}
  {{ partial "head-base" . }}

  {{ with .Params.customcss }}
    {{ $custom := resources.Get (printf "css/%s" .) | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $custom.Permalink }}" integrity="{{ $custom.Data.Integrity }}">
  {{ end }}
{{ end }}

{{ define "main" }}
  <header>
    <h1><a href="/">~</a> / {{ .Title }}</h1>
    <span class="date">{{ .Date | time.Format "2006-01-02" }}</span>
  </header>

  <main>
    {{ .Content }}
  </main>
{{ end }}

{{ define "footer" }}
<footer>
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
    <img alt="Creative Commons Licence" src="/images/cc-by-sa.png" width="80px" height="15px" />
  </a>
</footer>
{{ end }}
