<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="#" />

    {{ $base := resources.Get "css/base.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $base.Permalink }}" integrity="{{ $base.Data.Integrity }}">
  </head>

  <body>
    <h1><a href="/">~</a> / {{ .Title }}</h1>
    <span class="date">{{ .Date | time.Format "2006-01-02" }}</span>

    <article>
      {{ .Content }}
    </article>
  </body>

  {{ partial "footer" . }}

</html>
