:root {
  --dark: #212529;
  --gray-200: #e9ecef;
  --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --border-radius-sm: 0.25rem;
  --link-color: #0d6efd;
  --link-hover-color: #0a58ca;
}

body {
  color: var(--dark);
  font-family: var(--font-sans-serif);
  line-height: 1.65;
  max-width: 80ch;
  margin: 0 auto;
  padding: 1rem;
}

.post {
  margin-bottom: 1.5rem;
}

.date {
  display: block;
  font-family: var(--font-monospace);
  font-size: .8rem;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a:active, a:focus, a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

pre {
  background-color: var(--gray-200);
  border-radius: var(--border-radius-sm);
  overflow: auto;
  padding: 0.75rem;
}

code {
  font-family: var(--font-monospace);
  font-size: .875rem;
  font-variant-ligatures: none;
  line-height: 1.5;

  /* see: <https://stackoverflow.com/q/38346494/5818220> */
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Inline code */
p > code, li > code {
  background-color: var(--gray-200);
  border-radius: var(--border-radius-sm);
  padding: 0.15rem 0.3rem;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  margin: auto;
}

th, td {
  padding: 0.5rem 2rem;
  text-align: center;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

/* GoAT diagrams */
.goat text {
  font-family: var(--font-monospace);
}
