{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
<nav>
  <a class="back" href={{ get_url(path="/") }}>↩</a>
</nav>

<article>
  <h1>{{ page.title }}</h1>
  <span class="date">{{ page.date }}</span>
  {{ page.content | safe }}
</article>
{% endblock content %}

{% block footer %}
<footer>
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
    <img alt="Creative Commons Licence" src="/images/cc-by-sa.png" />
  </a>
</footer>
{% endblock footer %}
